/*設定文字外觀、排版*/
.block {	
	width: 60%;
	text-align: left;
	line-height: 35px;
	font-size: 20;
	background-color: #FFE681;
}
/*社並背景顏色*/
h3 {
	background-color: #FFE681;
	text-align: center
}
/*設定字體*/
ul {
	font-size: large;
}

img:hover{
	opacity : 0.8;
}

img {
	width :300px;
	height :450px;
}
